[ ca ]
default_ca = my_ca

[ my_ca ]
serial = {{ ca_serialfile }}
database = {{ ca_database }}
new_certs_dir = {{ ca_newcertdir }}
unique_subject = no # allow duplicate CNs

# the file containing the CA certificate. Mandatory
certificate = {{ ca_rootcert }}

# the file contaning the CA private key. Mandatory
private_key = {{ ca_rootkey }}

# the message digest algorithm. Remember to not use MD5
default_md = sha512

# for how many days will the signed certificate be valid
default_days = 365

# a section with a set of variables corresponding to DN fields
policy = my_policy

copy_extensions = copy

[ my_policy ]
# if the value is "match" then the field value must match the same field in the
# CA certificate. If the value is "supplied" then it must be present.
# Optional means it may be present. Any fields not mentioned are silently
# deleted.
countryName = match
stateOrProvinceName = optional
organizationName = supplied
commonName = supplied
organizationalUnitName = optional
