default_bits = {{ cert.bits | default(ca_csr_keysize) }}
default_keyfile = key.pem
{% if ca_keyfile is defined %} default_keyfile = {{ cert.keyfile }} {% endif %}
encrypt_key = {{ cert.encryptkey | default(ca_csr_encryptkey) }}
default_md = {{ cert.defaultmd | default(ca_csr_defaultmd) }}
prompt = no
utf8 = yes

distinguished_name = cert_req_distinguished_name
{{ cert.ca | default(False) | ternary('x509','req') }}_extensions = cert_extensions

[ cert_req_distinguished_name ]
C = {{ cert.country | default(ca_csr_country) }}
{% if cert.state | default(ca_csr_state) %}
ST = {{ cert.state | default(ca_csr_state) }}
{% endif %}
{% if cert.city | default(ca_csr_city)  %}
L = {{ cert.city | default(ca_csr_city) }}
{% endif %}
O  = {{ cert.org | default(ca_csr_org) }}
CN = {{ cert.cn }}

[ cert_extensions ]
basicConstraints={{ 'CA:' + cert.ca | default(False) | ternary('TRUE', 'FALSE') }}
{% if cert.san is defined %}
subjectAltName=@cert_subject_alt_names
{% endif %}
keyUsage={{ cert.keyUsage | default(ca_csr_keyUsage) | join(',') }}
{% if cert.extendedKeyUsage is defined or ca_csr_extendedKeyUsage|length > 0 %}
extendedKeyUsage = {{ cert.extendedKeyUsage | default(ca_csr_extendedKeyUsage) | join(',') }}
{% endif %}
subjectKeyIdentifier = hash

{% if cert.san is defined %}
[ cert_subject_alt_names ]
{% for san_cat, san_values  in cert.san.items() %}
{% for value in san_values %}
{{ san_cat | upper + '.' + loop.index | string + ' = ' + value }}
{% endfor %}
{% endfor %}
{% endif %}
